.formStyle {
  padding: 20px;
}

.submitStyle {
  width: 100%;
  background-color: #4861a6;
  padding: 10px;
  margin: 40px 0px 10px 0px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.inputBoxStyle {
  margin: 5px 8px;
  background-color: white;
  color: black
}